* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* START COMMON */
.container {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
ul {
    list-style: none;
}
.active::after {
    content: "";
    display: inline-block;
    width: 8vw;
    height: 0.6vw;
    background-color: #1ED760;
    border-radius: 1vw;
    position: absolute;
    bottom: -50%;
    left: 30%;
}
.active {
    position: relative;
    height: 3vw;
}
/* END COMMON */


/* START DEBUG */
.debug .nav-bottom {
    background-color: coral;
}
.debug .nav-menu {
    background-color: lightblue;
}
.debug .content-nav {
    background-color: lightblue;
}
.debug .playlist {
    background-color: lightcoral;
}
 /* .song-name {
    background-color: cadetblue;
}
 .like-save {
    background-color: coral;
}
.player-name {
    background-color: cornflowerblue;
}
.player-input {
    background-color: crimson;
} */
/* END DEBUG */


/* START MAIN */
main {
    width: 100%;
    height: calc(100% - 20vw);
    background-color: #141922;
    overflow: hidden;
}
/* START MAIN NAV */
.main-nav {
    padding: 1vw;
    display: inline-block;
    width: 10vw;
    height: 100%;
    background-color: black;
}
.main-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    width: 100%;
}
.main-nav li div {
    height: 80%;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}
/* start nav top */
.nav-top {
    height: calc(100% - 18vw);
    min-height: 50vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#logo {
    background-image: url("../img/logo-small.svg");
}
#home {
    background-image: url("../img/home.svg");
    position: relative;
}
#search {
    background-image: url("../img/search.svg");
}
#library {
    background-image: url("../img/libreria.svg");
}
.create-playlist {
    display: none;
}
/* end nav top */

/* start nav bottom */

#profile {
    background-image: url("../img/profile.svg");
    background-size: cover;
    background-color: #808080;
    border-radius: 50%;
    height: 7vw;
}
.nav-bottom ul li:first-child {
    height: 5vw;
}
#install {
    background-image: url("../img/download.svg");
    width: 40%;
    height: 3vw;
    background-size: contain;
}
/* end nav-bottom */
/* END MAIN NAV */

/* START MAIN CONTENT */
.content {
    display: inline-block;
    position: relative;
    width: calc(100% - 10vw);
    height: 100%;
    color: white;
    font-weight: 900;
    overflow-y: auto;
}

/* start upgrade botton */
.upgrade {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: 20vw;
    width: calc(100% - 10vw);
    background-color: rgba( 0, 0, 0, 0.5);
}
.upgrade-bottom {
    border: 1px solid white;
    padding: 3vw 7vw;
    border-radius: 7vw;
}
.upgrade-bottom a {
    color: white;
    font-size: 2.7vw;
}
/* end upgrade botton */

/* start contant nav */
.content-nav {
    margin-top: 20vw;
    color: #73767B;
    padding: 10px;
}
.content-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content-nav li {
    display: inline-block;
    font-size: 2.7vw;
    margin: 4vw 1.5vw;
    font-weight: 900;
}
/* end content nav */

/* start recently played */
.recently-played {
    padding: 5vw 0 0 5vw;
}
.section-title {
    display: block;
    font-size: 5vw; 
    margin-bottom: 5vw;
}
.playlist {
    float: left;
    margin-right: 3vw;
}
.playlist-img {
    width: 38vw;
    height: 38vw;
}
.playlist-img img {
    width: 100%;
    height: 100%;
}
.playlist-title {
    width: 100%;
    margin: 4vw 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.playlist-title h3{
    font-size: 3vw;
}
.playlist-title h5{
    font-size: 2.5vw;
    margin-top: 2vw;
    color: #73767B;
}
/* end recently played */

/* start recomanded for today */
.recomanded {
    padding: 5vw 0 0 5vw;
    margin: 7vw 0;
}
/* END MAIN */


/* START FOOTER */
footer {
    position: relative;
    z-index: 99;
    height: 20vw;
    width: 100%;
    background-color: #282828;
    color: white;
}
#player {
    width: 100%;
    height: 100%;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.song-name {
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-image {
    height: 6.7vw;
    width: 6.7vw;
}
.player-image img {
    height: 100%;
    width: 100%;
}
.player-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw;
}
.player-name span {
    font-size: 2.4vw;
    color: #73767B;
    font-weight: 900;
    margin-top: 0.5vw;
}
.player-name h5 {
    font-size: 2.5vw;
}
.like-save {
    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
    color: #73767B;
}
.player-input {
    display: flex;
    width: 38%;
    height: 15vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-input-top {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.5vw;
}
.player-input-top .fa-play-circle {
    font-size: 6vw;
}
.player-input-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 100%;
}
input[type="range"] {
    -webkit-appearance: none;
    background-color: #5A5A5A;
    width: 24vw;
    height: 1vw;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #1ED760;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    cursor: pointer;
} 
#slider-volume {
    width: 12vw;
    margin-bottom: 10px;
}
.time-player{
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: 500;
}
.player-volume {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.7vw;
}
/* END FOOTER */


/* START MEDIA QUERY */
@media (min-width: 639px) {

    /* main */
    main {
        height: calc(100% - 100px);
    }
    /* main-nav */
    .main-nav {
        width: 250px;
        padding: 20px;
        font-weight: 600;
    }
    .main-nav li {
        height: 40px;
        justify-content: flex-start;
    }
    .nav-top {
        min-height: 500px;
        height: calc(100% - 100px);
    }
    #logo {
        background-image: url("../img/logo.svg");
    }
    #desktop-logo {
        height: 60px;
        margin: 5px 0 20px;
    }
    .nav-icon {
        position: relative;
    }
    .nav-icon::after {
        position: absolute;
        left: 25%;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        color: #73767B;
        font-weight: 700;
    }
    #home::after {
        content: "Home";
        color: white;
    }
    #search::after {
        content: "Cerca";
    }
    #search {
        background-image: url("../img/search-gray.svg");
    }
    #library {
        background-image: url("../img/libreria-gray.svg");
    }
    #library::after {
        content: "La tua libreria";
    }
    .create-playlist {
        display: flex;
        flex-direction: column;
        color: white;
        margin-top: 20px;
        font-size: 18px;
        overflow: hidden;
    }
    .crea-play div {
        display: inline-block;
    }
    .crea-play {
        display: flex;
        align-items: center;
        margin: 15px 0;
        color: #73767B;
    }
    #plus-botton {
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 40px;
        margin-right: 10px;
        height: 50px;
        width: 50px;
        background-color: #73767B;
        color: black;
    }
    .name-playlist {
        height: 250px;
        overflow-y: auto;
        color: #73767B;
        font-size: 15px;
    }
    #install {
        position: relative;
        height: 20px;
    }
    #profile {
        margin-top: 40px;
        height: 30px;
        width: 30px;
    }
    #install::after {
        display: inline-block;
        content: "Installa app";
        color: #73767B;
        position: absolute;
        left: 30%;
        width: 100px;
    }
    #profile::after {
        display: inline-block;
        content: "John doe";
        color: #73767B;
        position: absolute;
        left: 60px;
        width: 100px;
        font-size: 20px;
        color: white;
    }
    .nav-bottom ul li:first-child {
        border-bottom: 1px solid gray;
        height: 50px;
    }
    /* main-content */
    .content {
        width: calc(100% - 250px);
    }
    .content-nav {
        margin-top: 100px;
    }
    .content-nav li {
        font-size: 15px;
        margin: 25px 10px;
    }
    .active::after {
        width: 40px;
        height: 3px;
        border-radius: 3px;
        bottom: -70%;
        left: 30%;
    }
    .active {
        height: 15px;
    }
    .upgrade {
        width: calc(100% - 250px);
        height: 100px;
    }
    .upgrade-bottom {
        padding: 15px 45px;
        border-radius: 45px;
    }
    .upgrade-bottom a {
        font-size: 13px;
    }
    .recently-played,
    .recomanded {
        padding: 20px 0 0 20px;
    }
    .recomanded {
        margin: 30px 0;
    }
    .section-title {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .playlist {
        margin-right: 15px;
    }
    .playlist-img {
        width: 165px;
        height: 165px;
    }
    .playlist-title {
        width: 165px;
        margin: 20px 0;
    }
    .playlist-title h3{
        font-size: 17px;
    }
    .playlist-title h5{
        font-size: 15px;
        margin-top: 8px;
        color: #73767B;
    }
    /* footer */
    footer {
        height: 100px;
    }
    #player {
        padding: 10px;
    }
    .song-name {
        width: 190px;
    }
    .like-save{
        margin-left: 14px;
        height: 40px;
        font-size: 20px;
    }
    .player-image{
        height: 50px;
        width: 50px;
    } 
    .player-name {
       display: inline-block;
       margin: 8px;
    }
    .player-name h5 {
        font-size: 15px;
        display: block;
    }
    .player-name span {
        font-size: 13px;
        display: inline;
    }
    .player-input {
        height: 100%;
        width: auto;
    }
    .player-input-top {
        font-size: 20px;
        width: 200px;
    }
    .player-input-top .fa-play-circle {
        font-size: 40px;
    }
    input[type="range"] {
        width: 150px;
        min-width: 150px;
        height: 5px;
    }
    input[type="range"]::-webkit-slider-thumb {
        height:10px;
        width: 10px;
    } 
    .time-player{
        margin: 5px 10px 0px 10px;
        font-size: 15px;
        font-weight: 500;
    }
    #slider-volume {
        width: 100px;
        min-width: 100px;
    }
    .player-volume {
        width: 170px;
        font-size: 15px;
    }
}

