* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* START COMMON */
.container {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
ul {
    list-style: none;
}
.active::after {
    content: "";
    display: inline-block;
    width: 8vw;
    height: 0.6vw;
    background-color: #1ED760;
    border-radius: 1vw;
    position: absolute;
    bottom: -50%;
    left: 30%;
}
.active {
    position: relative;
    height: 3vw;
}
/* END COMMON */


/* START DEBUG */
.debug .nav-bottom {
    background-color: coral;
}
.debug .nav-menu {
    background-color: lightblue;
}
.debug .content-nav {
    background-color: lightblue;
}
.debug .playlist {
    background-color: lightcoral;
}
 /* .song-name {
    background-color: cadetblue;
}
 .like-save {
    background-color: coral;
}
.player-name {
    background-color: cornflowerblue;
}
.player-input {
    background-color: crimson;
} */
/* END DEBUG */


/* START MAIN */
main {
    width: 100%;
    height: calc(100% - 20vw);
    background-color: #141922;
    overflow: hidden;
}
/* START MAIN NAV */
.main-nav {
    padding: 1vw;
    display: inline-block;
    width: 10vw;
    height: 100%;
    background-color: black;
}
.main-nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vw;
    width: 100%;
}
.main-nav li div {
    height: 80%;
    width: 80%;
    background-size: contain;
    background-repeat: no-repeat;
}
/* start nav top */
.nav-top {
    height: calc(100% - 18vw);
    min-height: 50vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#logo {
    background-image: url("../img/logo-small.svg");
}
#home {
    background-image: url("../img/home.svg");
}
#search {
    background-image: url("../img/search.svg");
}
#library {
    background-image: url("../img/libreria.svg");
}
/* end nav top */

/* start nav bottom */

#profile {
    background-image: url("../img/profile.svg");
    background-color: #808080;
    border-radius: 50%;
    height: 7vw;
}
.nav-bottom ul li:first-child {
    height: 5vw;
}
#install {
    background-image: url("../img/download.svg");
    width: 40%;
    height: 3vw;
    background-size: contain;
}
/* end nav-bottom */
/* END MAIN NAV */

/* START MAIN CONTENT */
.content {
    display: inline-block;
    position: relative;
    width: calc(100% - 10vw);
    height: 100%;
    color: white;
    font-weight: 900;
    overflow-y: auto;
}

/* start upgrade botton */
.upgrade {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    height: 20vw;
    width: calc(100% - 10vw);
    background-color: rgba( 0, 0, 0, 0.5);
}
.upgrade-bottom {
    border: 0.3vw solid white;
    padding: 3vw 7vw;
    border-radius: 7vw;
}
.upgrade-bottom a {
    color: white;
    font-size: 2.7vw;
}
/* end upgrade botton */

/* start contant nav */
.content-nav {
    margin-top: 20vw;
    color: #73767B;
    padding: 10px;
}
.content-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content-nav li {
    display: inline-block;
    font-size: 2.7vw;
    margin: 4vw 1.5vw;
    font-weight: 900;
}
/* end content nav */

/* start recently played */
.recently-played {
    padding: 5vw 0 0 5vw;
}
.section-title {
    display: block;
    font-size: 5vw; 
    margin-bottom: 5vw;
}
.playlist {
    float: left;
    margin-right: 3vw;
}
.playlist-img {
    width: 38vw;
    height: 38vw;
}
.playlist-img img {
    width: 100%;
    height: 100%;
}
.playlist-title {
    margin: 4vw 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.playlist-title h3{
    font-size: 3vw;
}
.playlist-title h5{
    font-size: 2.5vw;
    margin-top: 2vw;
    color: #73767B;
}
/* end recently played */

/* start recomanded for today */
.recomanded {
    padding: 5vw 0 0 5vw;
    margin: 7vw 0;
}
/* END MAIN */


/* START FOOTER */
footer {
    position: relative;
    z-index: 99;
    height: 20vw;
    width: 100%;
    background-color: #282828;
    color: white;
}
#player {
    width: 100%;
    height: 100%;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.song-name {
    width: 26%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-image {
    height: 6.7vw;
    width: 6.7vw;
}
.player-image img {
    height: 100%;
    width: 100%;
}
.player-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vw;
}
.player-name span {
    font-size: 2.4vw;
    color: #73767B;
    font-weight: 900;
    margin-top: 0.5vw;
}
.player-name h5 {
    font-size: 2.5vw;
}
.like-save {
    height: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
    color: #73767B;
}
.player-input {
    display: flex;
    width: 38%;
    height: 15vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player-input-top {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3.5vw;
}
.player-input-top .fa-play-circle {
    font-size: 6vw;
}
.player-input-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 100%;
}
input[type="range"] {
    -webkit-appearance: none;
    background-color: #5A5A5A;
    width: 24vw;
    height: 1vw;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #1ED760;
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    cursor: pointer;
} 
#slider-volume {
    width: 12vw;
}
.time-player{
    margin-top: 1vw;
    font-size: 2vw;
    font-weight: 500;
}
.player-volume {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.7vw;
}
/* END FOOTER */
/*#ADFF2F HOVER*/
/* <i class="fas fa-volume-mute"></i> */

